# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio files
*.suo
*.sdf
*.opensdf
*.csproj.user
*.vbproj.user 
#*.vcxproj.user
*.csproj.webinfo
*.vbproj.webinfo
*.log
ipch

# Build folders
Debug
Release
Yolo-Shame/Debug
Yolo-Shame/Release

